@import "../../../mixins.scss";

.heroBanner {
    background-color: var(--black);
    width: 100%;
    height: 450px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 50px;

    @include md {
        height: 700px;
        margin-bottom: 80px;

    }

    .backdrop-img {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0.5;
        overflow: hidden;

        .lazy-load-image-background {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
            }
        }
    }

    .opacity-layer {
        width: 100%;
        height: 250px;
        background: linear-gradient(to top, rgba(4, 21, 45, 1), rgba(4, 21, 45, 0));
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .heroBannerContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        text-align: center;
        position: relative;
        max-width: 800px;
        margin: 0 auto;

        .title {
            font-size: 40px;
            font-weight: 700;
            margin-bottom: 10px;

            @include md {
                margin-bottom: 20px;
                font-size: 80px;
            }
        }

        .sub-title {
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 35px;
            color: #d6d6d6;

            @include md {
                font-size: 24px;
            }
        }

        .searchInput {
            display: flex;
            align-items: center;
            width: 100%;

            input {
                width: calc(100% - 100px);
                height: 50px;
                background-color: white;
                outline: 0;
                border: 0;
                border-radius: 30px 0 0 30px;
                padding: 0 15px;
                font-size: 14px;

                @include md {
                    width: calc(100% - 150px);
                    height: 60px;
                    font-size: 20px;
                    padding: 0 30px
                }

            }

            button {
                width: 100px;
                height: 50px;
                background: var(--gradient);
                color: white;
                outline: 0;
                border: 0;
                border-radius: 0 30px 30px 0;
                font-size: 16px;
                cursor: pointer;

                @include md {
                    width: 150px;
                    height: 60px;
                    font-size: 18px;
                }

            }
        }
    }

}